<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Instrument Assigned</h1>
  <p>An instrument has been assigned to you.</p>
  <p>Fill it on: <a href="<%= @instrument_link %>"><%= @instrument_link %></a></p>
</body>
</html>
